@charset "ISO-8859-1";

 html{
 	background-image : url("fond.png");
 }
	
	*|*:root {		
	  /* premi�re �tape */
	  color: black;
	  animation-name: runForLife; /* nom de l'animation */
	  animation-duration: 10s; /* temps de l'animation (4s) */
	  animation-iteration-count: infinite; /* nombre de boucles (infinie) */
	  animation-timing-function: linear; /* accel�ration de l'animation (constant) */
	    
	}
	  /* deuxi�me �tape */
	  @keyframes OUI {
	  0% {background:rgba(255,140,0,0.1) url("Capture4.png") no-repeat 100px 100px;}
	  8% {background:rgba(255,140,0,0.2) url("sansTitre.png") no-repeat 100px 100px;}
	  16% {background:rgba(255,140,0,0.3) url("Capture4.png") no-repeat 100px 100px;}
	  24% {background:rgba(255,140,0,0.4) url("sansTitre.png") no-repeat 100px 100px;}
	  32% {background:rgba(255,140,0,0.5) url("Capture4.png") no-repeat 100px 100px;}
	  40% {background:rgba(255,140,0,0.4) url("sansTitre.png") no-repeat 100px 100px;}
	  48% {background:rgba(255,140,0,0.5) url("Capture4.png") no-repeat 100px 100px;}
	  56% {background:rgba(255,140,0,0.4) url("sansTitre.png") no-repeat 100px 100px;}
	  64% {background:rgba(255,140,0,0.6) url("Capture2.png") no-repeat 100px 100px;}
	  72% {background:rgba(255,140,0,0.7) url("Capture1.2.png") no-repeat 100px 100px;}
	  80% {background:rgba(255,140,0,0.6) url("Capture1.png") no-repeat 100px 100px; }
	  88% {background:rgba(255,140,0,0.6) url("Capture3.png") no-repeat 100px 100px; }
	  100% {background:rgba(255,140,0,0.6) url("Capture.png") no-repeat 100px 100px; }
	}
		
	
	.cube{
		position: absolute;
		animation-name: careFromTheSky; /* nom de l'animation */
	  	animation-duration: 10s; /* temps de l'animation (4s) */
	 	animation-iteration-count: infinite; /* nombre de boucles (infinie) */
	 	animation-timing-function: linear; /* accel�ration de l'animation (constant) */
	}
	
	/*Petit cube qui tombe*/
	@keyframes careFromTheSky 
	{
	
		0% {
			top : 100px;
			left :100px;
		}
		
		25% {
			top : 75px;
			left :100px;
		}
		
		50% {
			top : 50px;
			left :100px;
		}
		
		75% {
			top : 25px;
			left :100px;
		}
		
		100% {
			top : 0px;
			left :100px;
		}
		
	}
	
	
	
	
	
	