@charset "ISO-8859-1";
	
	*|*:root {		
	  /* premi�re �tape */
	  color: black;
	  animation-name: runForLife; /* nom de l'animation */
	  animation-duration: 3s; /* temps de l'animation (4s) */
	  animation-iteration-count: infinite; /* nombre de boucles (infinie) */
	  animation-timing-function: linear; /* accel�ration de l'animation (constant) */
	    
	}
	  /* deuxi�me �tape */
	 @keyframes runForLife {
	  
	  0% {
		background-image: url("../Images/fondPortail.png");
	  	background-size:cover;
	  }
	  
	  10% {
	  	background-image:url("../Images/bonhomme/animation1.png");
	  	background-size:cover;
	  }
	  
	  20% {
	  	background-image:url("../Images/bonhomme/animation2.PNG");
	  	background-size:cover;
	  }
	  
	  30% {
	  	background-image:url("../Images/bonhomme/animation3.png");
	  	background-size:cover;
	  }
	  
	  40% {
	  	background-image:url("../Images/bonhomme/animation4.png");
	  	background-size:cover;
	  }
	  
	  50% {
	  	background-image:url("../Images/bonhomme/animation5.png");
	  	background-size:cover;
	  }
	  
	  60% {
	  	background-image:url("../Images/bonhomme/animation6.png");
	  	background-size:cover;
	  }
	  
	  70% {
	 	 background-image:url("../Images/bonhomme/animation7.png");
	  	background-size:cover;
	  }
	  
	  80% {
	 	background-image:url("../Images/bonhomme/animation8.png");
	  	background-size:cover;
	  }
	  
	  90% {
	  	background-image:url("../Images/fondPortail.png");
	  	background-size:cover;
	  }
	  100%{
	  	background-image:url("../Images/fondPortail.png");
	  	background-size:cover;
	  }
  
	}
		
	
	.cube{
		top : 0%;
		left :100px;
		
		position: absolute;
		animation-name: careFromTheSky; /* nom de l'animation */
	  	animation-duration: 5s; /* temps de l'animation  */
	  	animation-direction: alternate;
	 	animation-iteration-count: infinite; /* nombre de boucles */
	 	animation-timing-function: ease-in; /* accel�ration de l'animation */
	}
	
	/*Petit cube qui tombe*/
	@keyframes careFromTheSky 
	{
	
		0% {
			top : 2%;
			left :100px;
		}
		
		10% {
			top : 2%;
			left :100px;
		}
		
		20% {
			top : 2%;
			left :100px;
		}
		
		30% {
			top : 2%;
			left :100px;
		}
				
		100% {
			top : 80%;
			left :100px;
		}
		
	}
	
	
	
	
	
	