@charset "ISO-8859-1";
	
	body{
		background-image : url("../Images/fondPortail.png");
		background-size : cover;
	}
	
	.bonhomme{
	  /* premi�re �tape */
	  	top : 80%;
		left :100px;
		position: absolute;
		animation-name: runForLife; /* nom de l'animation */
		animation-duration: 2s; /* temps de l'animation (4s) */
		animation-iteration-count: infinite; /* nombre de boucles (infinie) */
		animation-timing-function: linear; /* accel�ration de l'animation (constant) */
	    
	}
	  /* deuxi�me �tape */
	 @keyframes runForLife {
	  
	  0% {
		top : 80%;
		left :5%;
		background-image : url("../Images/bonhomme1.png");
	  }
	  
	  10% {
	  	top : 80%;
		left : 8%;
		background-image : url("../Images/bonhomme1.png");
	  }
	  
	  20% {
		top : 80%;
		left : 16%;
		background-image : url("../Images/bonhomme1.png");
	  }
	  
	  30% {
	  	top : 80%;
		left : 24%;
		background-image : url("../Images/bonhomme1.png");
	  }
	  
	  40% {
	  	top : 80%;
		left : 32%;
		background-image : url("../Images/bonhomme1.png");
	  }
	  
	  50% {
	  	top : 80%;
		left : 40%;
	  }
	  
	  60% {
	  	top : 80%;
		left : 48%;
	  }
	  
	  70% {
	 	top : 80%;
		left : 56%;
	  }
	  
	  80% {
	 	top : 80%;
		left : 64%;
	  }
	  
	  90% {
	  	top : 80%;
		left : 72%;
	  }
	  100%{
	  	top : 80%;
		left : 80%;
	  }
  
	}
		
	
	.cube{
		top : 0%;
		left :100px;
		
		position: absolute;
		animation-name: careFromTheSky; /* nom de l'animation */
	  	animation-duration: 5s; /* temps de l'animation  */
	  	animation-direction: alternate;
	 	animation-iteration-count: infinite; /* nombre de boucles */
	 	animation-timing-function: ease-in; /* accel�ration de l'animation */
	}
	
	/*Petit cube qui tombe*/
	@keyframes careFromTheSky 
	{
	
		0% {
			top : 2%;
			left :100px;
		}
		
		10% {
			top : 2%;
			left :100px;
		}
		
		20% {
			top : 2%;
			left :100px;
		}
		
		30% {
			top : 2%;
			left :100px;
		}
				
		100% {
			top : 80%;
			left :100px;
		}
		
	}
	
	
	
	
	
	